<% provide(:title,"Tops") %>

<div class = "main">
  <div class = "body">
  <div class = "avatar">
    <%= image_tag 'default_avatar.png' %>
  </div>
  <div class = "introduction">
  <h1 class = "self">自己紹介</h1>
  <div class = "login_recommend">ログインして、自己紹介文と画像を登録しましょう！</div>
  </div>
  </div>
  
  <div class = "skill_graph">
  <h2 class = "skill_chart">スキルチャート</h2>
  <div class = "graph">
    <%= image_tag 'skill_chart.png' %>
  </div>
  </div>
  
</div>