@import "bootstrap-sprockets";
@import "bootstrap";

/* Topページレイアウト*/
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:border-box;
}

a:hover {
  text-decoration:none;
  color:white;
}
 /*ボタンのデザイン*/

.btn {
  display:flex;
  background-color:#1B5678;
  color:white;
  border-radius:5px;
  border:1px solid #1B5678;
  font-size:17px;
}

.btn:hover {
  opacity:0.93;
  color:white;
}
.bth:active {
  background-color:#1B5678;
}


.loginning {
  margin:auto;
  margin-top:40px;
  padding:10px 70px;
}
.editting {
  margin:auto;
  padding:15px 40px;
  margin:120px 0px;
}
.skilling {
  margin:auto;
  padding:15px 40px;
  margin-top:-50px;
}
.adding {
  padding:15px 40px;
  margin-right:30px;
}

.second {
  margin:auto;
  font-size:13px;
  
}

.delete {
  background-color: #EE6969;
  border:#EE6969;
}
.update {
  background-color:#fff;
  color:#1B5678;
  margin-right:3px;
}
.update:hover {
  color:#1B5678;
  opacity:0.93;
  
}

/* miscellaneous */


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


.container {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  width:100%;
}

header {
  background-color: #1B5678;
  height: 120px;

  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.header {
  display:flex;
  justify-content:space-between;
}

.my_portfolio {
  display:block;
  font-weight:bold;
  color:white;
  font-size:35px;
  margin:35px 40px;
 }

.login_btn {
  color:black;
  border-radius:5px;
  font-size:17px;
  margin:30px 40px;
  padding: 15px 50px;
  border:1px solid #333;
  }

/* mainのレイアウト*/
.main {
  margin-top:200px;
  width:100%;
}

.body {
  display:flex;
  justify-content:space-around;
}

.avatar {
  width:50px;
}

.introduction {
  padding-right:150px;
  margin-left:35px;
}

.self {
  width:300px;
  font-weight:bold;
  border-bottom:2px solid rgba(0, 0, 0, 0.5);
  padding-bottom:20px;
  margin-bottom:30px;
}

.introfield {
font-size:18px;
width:500px;
overflow-wrap: break-word;
}

.red {
color:red;
}

.skill_graph {
text-align:center;

}

.skill_chart {
  font-size:35px;
  font-weight:bold;
  width:330px;
  padding-bottom:20px;
  margin:90px 0px;
  border-bottom:2px solid rgba(0, 0, 0, 0.5);
  display:inline-block;
}
/* footerレイアウト */

footer {
width:100%;
height: 40px;
left:0;
color:white;
background-color: #1B5678;
font-size:17px;
position: absolute;
bottom:0;
display: flex;
justify-content: center;
align-items: center;
}

/* ログインフォーム */
.login_form {
 margin-top:200px;
 display:flex;
 flex-flow: column;
 align-items:center;
 }
 
 label {
  margin-top:20px;
  color: #808080;
  display:flex;
  flex-direction:column;
  font-size:11px;
  padding-top:30px;
  font-weight:normal;
  
 }
 
.limit {
  font-size:12px;
  opacity:0.7;
  color:#808080;
  padding-right:250px;
}

 .form_design {
  border:none; 
  border-bottom:1px solid #000000;
  width:450px;
  margin-top:8px;
  outline:none;
  background-color:white;
  overflow:hidden;
  resize:none;
 }
 .edit {
  padding-bottom:50px;
}
.image {
  margin-top:-50px;
}
.file {
  width:220px;
  height:35px;
  padding:8px 37px;
  color:black;
  background-color:#EFEFEF;
  font-size:13px;
  border-radius:5px;
  &:hover {
    cursor:pointer;
  }
}

.chart-size {
  margin:auto;
  margin-top:120px;
  width:70%;
  align-items:center;
  
}

input:-webkit-autofill {
animation-name: onAutoFillStart;
transition: background-color 50000s ease-in-out 0s;
}
/* エラー文 */

.error_explanation{
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #e50031;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 10px;
    position: relative;
}
.alert alert-danger{
    content: "";
    border: 10px solid transparent;
    border-bottom: 15px solid #e50031;
    position: absolute;
    top: -25px;
    left: 5%;
}
/* category_tableの編集 */

/* 各スキルの枠線と位置を調整color:#00000080; */

.category_table {
  width:70%;
  height:450px;
  margin:auto;
  border:1px solid #00000080;
  border-radius:5px;
  margin-bottom:40px;
  overflow:auto;
}
.category-title {
display:flex;
justify-content:space-between;
margin-left:30px;
font-size:25px;
font-weight:bold;
padding:30px 0 500px 0;
}
.border {
  width:250px;
  border-bottom:1px solid #00000080;
}

table {
margin:-450px 0 0 50px;
width:90%;
border: 1px #E2E2E2 solid;
text-indent:50px;
border-radius: 6px;
box-shadow: 0 1px 3px 0 #E2E2E2;
overflow:auto;
}

thead {
  border: 1px #E2E2E2 solid;
  height:60px;
  
}
tbody {
  height:75px;
  border: 1px #E2E2E2 solid;
}

.level_btn {
padding:10px 10px;
margin-right:-80px;
border: 1px #00000060 solid;
border-radius: 6px;
color:#00000080;
}